@media only screen and (min-width: 1028px) {

  /* desktop settings 1028px and wide-screen */

  body {
    width: 768px;
    margin: auto;
  }
  #logo{
    width: 150px;;
  }
  #content {
    margin-top: 15%;
  }
  .band{
    font-size: .5em;
    font-weight: 400;
  }
  #bio {
    font-size: .75em;
    margin-bottom: 15%;
  }
  .notes {
    font-size: 1em;
  }
}