/* baseline */

body {
  width: 100%;
  background-color: #444;
  text-align: center;
  z-index: -1;
}
h1{
  color: white;
  font-size: 5em;
  -webkit-text-stroke: 2px black;
  font-family: 'Permanent Marker', cursive;
}
p {
  color: white;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

/* base styling - sorted top to bottom */

#top-bar{
  height: 10%;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;
}
#logo{
  top: 0;
  width: 20%;
}
#hero {
  width: 100%;
  margin-top: 20%;
}

#dots{
  text-align: center;
}

#player {
  width: 100%;
  height: 265px;
  background-color: #444;
  border: 2px solid black;
}
#showlist{
  width: 100%;
  display: inline-block;
  height: 550px;
  margin: 0;
  padding: 0;
  border: 0;
}
.band{
  margin: auto;
  width: 90%;
  color: #fff;
  font-size: 1em;
  font-weight: 800;
}
#bio{
  width: 100%;
  margin-bottom: 20%;
}
#bottom-bar{
  height: 10%;
  width: 100%;
  background-color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}
.icon {
  margin-top: 2px;
  height: 50%;
}
.notes {
  font-size: .75em;
  color: #444;
}