.clear-fix {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-position: inside;
  text-align: center;
}
.left{
  float: left;
}
.right{
  float: right;
}

body {
  width: 100%;
  background-color: #444;
  text-align: center;
}

h1{
  color: white;
  font-size: 5em;
  -webkit-text-stroke: 2px black;
  font-family: 'Permanent Marker', cursive;
}

p {
  color: white;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

#player {
  width: 100%;
  height: 265px;
  background-color: #444;
  border: 2px solid black;
}

#bio{
  width: 100%;
  margin-bottom: 20%;
}

.band{
margin: auto;
  width: 90%;
  color: #fff;
  font-size: 1em;
  font-weight: 800;
}

#top-bar{
  height: 10%;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

#content {
  width: 100%;
  text-align: center;
  margin-top: 20%;
}

#hero{
  width: 100%;
}

#logo{
  top: 0;
  width: 20%;
}


#bottom-bar{
  height: 10%;
  width: 100%;
  background-color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}

.icon {
  margin-top: 2px;
  height: 50%;
}

.notes {
  font-size: .5em;
  color: #444;
}